{% extends "base_template.html" %}

{% block content %}
  <h1>Order Slip</h1>
  <p>Welcome to Blizzard Blast!, an internal database system developed by <em>Franco <3</em>!</p>
  <h2>Dynamic content</h2>

  <h3>Order Slips</h3>

    <select id="orderSearch" onchange="location.href=document.getElementById('orderSearch').value">
        <option value="">---</option>
        {% for os in OrderSlip %}
            {% if os == LastOrderSlip %}
            <option value="{{os.order_id}}" selected>{{os}}</option>
            {% else %}
            <option value="{{os.order_id}}">{{os}}</option>
            {% endif %}
        {% endfor %}
    </select>

    <button type="button" onclick="location.href=document.getElementById('orderSearch').value">Search Order</button>

    <br><br>
    <b>{{LastOrderSlip.customer_name}} ({{LastOrderSlip.date_ordered}})</b><br>
        Order ID: {{LastOrderSlip.order_id}}
        <ol>
            {% for oi in OrderItem %}
            {% if oi.order == LastOrderSlip %}
            <li><b>{{oi.recipe.recipe_name}} ({{oi.recipe.serving_size}}oz)</b> [{{oi.order_item_id}}]
                <button type="button" onclick="location.href='../item/new/{{LastOrderSlip.order_id}}'"> Add Add-On</button>
                {% for ia in ItemAddOn %}
                {% if ia.order_item == oi %}
                    <br><i>{{ia.ingredient.ingredient_name}}: ₱{{ia.ingredient.price_serving}} x {{ia.add_on_quantity}} = ₱{% widthratio ia.ingredient.price_serving 1 ia.add_on_quantity %}</i>
                {% endif %}
                {% endfor %}

            </li>
            {% endif %}
            {% endfor %}
        </ol>
        
        <button type="button" onclick="location.href='../item/new/{{LastOrderSlip.order_id}}'"> Add Item</button>
        <br><br><br>
        <button type="button" onclick="location.href='../delete/{{LastOrderSlip.order_id}}'">Delete Order Slip</button>
        <br><br><br>
        <button type="button" onclick="location.href='new/'">New Order Slip</button>

{% endblock %}
